DirectorySlash off
RewriteEngine on

RedirectMatch ^/$ http://kiharrigan.cse356.compas.cs.stonybrook.edu/adduser

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*[^/])$ /$1/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api/(.*)$ api/index.php [L]

RewriteRule ^item/([a-zA-Z0-9]+)/?$ /item?id=$1
RewriteRule ^user/([a-zA-Z0-9]+)/?$ /users?username=$1
RewriteRule ^user/([a-zA-Z0-9]+)/followers/?$ /users/followers?username=$1 [L,QSA]
RewriteRule ^user/([a-zA-Z0-9]+)/following/?$ /users/following?username=$1 [L,QSA]

#RewriteCond %{QUERY_STRING} ^limit=([0-9]+)$
#RewriteRule ^user/([a-zA-Z0-9]+)/followers/?$ /users/followers?limit=$1&username=$2


Options -Indexes
