DirectorySlash off
RewriteEngine on

RedirectMatch ^/$ http://kiharrigan.cse356.compas.cs.stonybrook.edu/adduser

RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^(.*[^/])$ /$1/

RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule ^api/(.*)$ api/index.php [L]

RewriteRule ^item/([a-zA-Z0-9]+)/?$ /item?id=$1
RewriteRule ^user/([a-zA-Z0-9]+)/?$ /user?username=$1
RewriteRule ^user/([a-zA-Z0-9]+)/followers/?$ /user/following?username=$1
RewriteRule ^user/([a-zA-Z0-9]+)/following/?$ /user/followers?username=$1

Options -Indexes
